<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>485520241191-vnm72gk007rhe9fb5gr8e8julvilfihu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.485520241191-vnm72gk007rhe9fb5gr8e8julvilfihu</string>
	<key>API_KEY</key>
	<string>AIzaSyB4ANHSmrT2sWVYn1bA5Q0oxtpEOUmQnl4</string>
	<key>GCM_SENDER_ID</key>
	<string>485520241191</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ismael.payflow</string>
	<key>PROJECT_ID</key>
	<string>payflow-7cf2f</string>
	<key>STORAGE_BUCKET</key>
	<string>payflow-7cf2f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:485520241191:ios:6e8a620f60e4a02cae5402</string>
</dict>
</plist>