<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>884582069094-os0vgrdum1rs47ks1lt643l6bg3gn19o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.884582069094-os0vgrdum1rs47ks1lt643l6bg3gn19o</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>884582069094-j18iaunn5n8p0v69nm7vbj22l96le3sl.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDB3itQJJHwf9NAdoDVCC6tOrjrO9wFM-Y</string>
	<key>GCM_SENDER_ID</key>
	<string>884582069094</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.ismael.pay-flow</string>
	<key>PROJECT_ID</key>
	<string>pay-flow-e6662</string>
	<key>STORAGE_BUCKET</key>
	<string>pay-flow-e6662.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:884582069094:ios:45d5785eafcded52394ea7</string>
</dict>
</plist>